<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- Conexão com mongodb -->
	<bean id="morphiaConnection" class="br.com.maikel.desafio.config.MorphiaConnection">
		<constructor-arg index="0" value="10.0.1.145"/>
		<constructor-arg index="1" value="senior"/>
		<constructor-arg index="2" value="27017"/>
	</bean>

</beans>